.main {
	margin: 0 auto;
	width: 600px;
}
.photoInfo{
	margin-top: 20px;
}
.creator {
	position: absolute;
	font-size: 1.5rem;
	font-weight: bold;
}
.creator img{
	height: 30px;
	width: 30px;
	border-radius: 100%;
}

.count {
	margin: 10px 10px 10px 0;
	float: right;
}
.count img {
	height: 20px;
	width: auto;
}
.mainPhoto {
	width: 100%;
	height: auto;
}
.mainPhoto img{
	width: 100%;
}
.heartBtn {
	display: inline-block;
	cursor: pointer;
}
.heartBtn img {
	display: inline-block;
	margin: 10px;
	height: 40px;
	width: auto;
}
.downBtnBox {
	height : 80px;
	float:right;
	display: inline-block;
}
.downBtn {
	display : inline-block;
	background-color: #f47f7f;
	color : white;
	font-size : 1.2rem;
	font-weight: bold;
	border-style : none;
	margin-top: 7px;
	height: 40px;
	width:150px;
	cursor: pointer;
	opacity: 0.8;
}
.downBtn:hover {
	background-color : #f47f7f;
	opacity: 1;
}
.reply {
	margin-top : 70px;
	width : 600px;
	height: 300px;
}
.replyInPutTable{
	width: 600px;
	height: 30px;
}
.profileTd {
	width: 7%;
	height: 40px;
}
.replyProfile {
	height: 40px;
	width: 40px;
	border-radius: 100%;
}
.nicTd {
	width: 13%;
}
.replyNic{
	font-weight: bold;
	font-size: 1.2rem;
}
.inputTd {
	width: 65%;
}
.replyContent{
	width: 65%;
}
.inputTd input {
	width: 100%;
}
.buttonTd {
	width: 15%;
}
.replyBtn {
	background-color: #f47f7f;
	border-style: none;
	height: 20px;
	color: white;
	font-weight: bold;
}
.reProfile{
	width: 20%;
}
.noLoginProfileTd {
	width: 20%;
	height: 40px;
	font-size: 0.8rem;
	font-weight: bold;
} 
.updateBtn {
	font-size: 0.8rem;
	border-style: none;
	background-color: white;
	margin-left: 50px;
	cursor: pointer;
}
.deleteBtn {
	font-size: 0.8rem;
	border-style: none;
	background-color: white;
	cursor: pointer;
}
.inputUpdate{
	width: 60%;
	margin-right: 10px;
}
.comment{
	background-color: #eeeeee;
	width: 600px;
	height: auto;
	overflow: scroll;
	word-wrap : break-word;
}
.modiBtnBox{
	float: right;
	margin-bottom: 15px;
}
.modiBtn{
	border: none;
	font-size: 1.2rem;
	font-weight: bold;
	cursor: pointer;
}
