@charset "UTF-8";

.column{
	margin: 30px;
	column-width: 250px;
	column-gap: 15px;
}
.column figure {
	display: inline-block;
	margin: 0;
	margin-bottom: 15px;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}
.column figure img {
	vertical-align: top;
	width: 100%;
	height: auto;
}
.sortdiv {
	height: 40px;
	text-align: center;
	background-color: #706f6f;
	margin: 0 auto;
	padding: 0;
}

.sortbtn {
	margin-right:-5px;
	display:inline-block;
	text-decoration:none;
	font-size: 1rem;
	background-color: #706f6f;
	color: white;
	padding: 11px 10px;
	cursor: pointer;
}

.sortbtn:hover {
	background-color: #f47f7f;
}
.sortbtn.active{
	background-color: #f47f7f;
}
