@charset "UTF-8";

.column{
	margin: 30px;
	column-width: 250px;
	column-gap: 15px;
}
.column figure {
	display: inline-block;
	margin: 0;
	margin-bottom: 15px;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}
.column figure img {
	vertical-align: top;
	width: 100%;
	height: auto;
}
}
