@charset "UTF-8";
.sidenav {
	height: 400px;;
	width: 180px;
	position: absolute;
	z-index : 1;
	top: 0;
	left: 0;
	background-color: #FFB4B4;
	overflow-x: hidden;
	padding-top: 20px;
	margin-top: 213px;
}

.sidenav a {
	padding: 6px 8px 6px 16px;
	margin-bottom: 20px;
	text-decoration: none;
	font-size: 25px;
	color: #f1f1f1;
	display: block;
	font-weight: bold;;
}

.sidenav a:hover {
	color: #313131;
	cursor: pointer;
}

.main {
	margin-left: 180px; /* Same as the width of the sidenav */
	font-size: 28px; /* Increased text to enable scrolling */
	padding: 0px 10px;
}