@charset "UTF-8";
.signUpBox {
	width: 40%;
	margin: 0 auto;
	margin-top: 5%;
}
.sugnUpProfile {
	width : 150px;
	height : 150px;
	border-radius: 100%;
	margin: 0 auto;
}
.sugnUpProfile img {
	vertical-align:middle;
	width: 100%;
	height: 100%;
	border-radius: 100%;
}

.signUpBox label{
	font-size: 1.2rem;
	font-weight: bold;
	color: #706f6f;
}
.checkMsg {
	font-size: 0.7rem;
	color: red;
}
.checkGreenMsg{
	font-size: 0.7rem;
	color: green;
}
.id{
	ime-mode:disable;
}
.signUpBox button{
	width : 20%;
	border:none;
}
.signUpBox input{
	width: 100%;
}
.input {
	height: 30px;
	border: none;
	background-color: #fff0f0;
	opacity: 0.8;
	padding-left: 5px;
}
.input[type=email] {
	width: 80%;
}
.signUpBox button {
	height: 30px;
	background-color: #f47f7f;
	color: white;
	opacity: 0.8;
}
.regiBtn{
	margin: 0 auto;
	border:none;
	background-color: #f47f7f;
	height : 50px;
	font-weight: bold;
	font-size: 2rem;
	color: white;
	opacity: 0.8;
}
.input:hover  {
	opacity: 1;
}
.regiBtn:hover {
	opacity: 1;
}
.signUpBox button:hover {
	opacity: 1;
}